body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
    text-align: center;
}
#year{
    font-size: 60px;
}
#year-two{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.faraway{
    padding-bottom: 10%;
}
.left-border{
    border-left: 4px solid;
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
    padding-left: 4%;
}
.color-purple{
    color: rgba(128, 0, 79, 0.829);
}
.all-justify{
    text-align: justify;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(purple,tomato);
    color: white;
    padding: 5px 20px;
    border-radius: 10%;
    font-weight: 700;
}
.stay-focused{
    display: flex;
}
.new-width{
    width: 80%;
    padding: 5%;
    
}
.new-widht img{
    width: 60%;
    padding-left: 5%;
}
.missions{
    display: flex;
}
.mission-goal{
    box-shadow: 10px 10px 40px black;
    margin: 50px;
    width: 50%;
    border-radius: 20px;
    padding-top: 15%;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#nextyear-mission{
    background-image: url(/images/illustrators/illustrator-1.png);
    background-color: rgb(224, 181, 115);
    background-repeat: no-repeat;
    background-size: 60%;
    
}
#nextyear-vission{
    background-image: url(/images/illustrators/illustrator-2.png);
    background-color: rgb(207, 89, 207);
    background-repeat: no-repeat;
    background-size: 60%;
}
#nextyear-goal{
    background-image: url(/images/illustrators/illustrator-3.png);
    background-color: rgb(236, 141, 141);
    background-repeat: no-repeat;
    background-size: 60%;
}